POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=auto-weather

## Default: (named volume) rabbitmq_data
RABBITMQ_DATA_DIR=
## Default: rabbitmq
RABBITMQ_USER=
## Default: rabbitmq
RABBITMQ_PASS=

## Default: (named volume) redis_data
REDIS_DATA_DIR=

## Default: INFO
LOG_LEVEL=DEBUG
## Default: ./logs
LOGS_DIR=

UV_IMAGE_VER=
PYTHON_IMAGE_VER=

CELERY_LOG_LEVEL=

WEATHERAPI_LOCATION_NAME=london
WEATHERAPI_API_KEY=

## Default: postgres
DB_TYPE=
## Default: postgresql+psycopg2
DB_DRIVERNAME=
## Default: postgres
DB_HOST=

# Default: "bullseye". Tag for docker image (i.e. <image>:<tag>).
#   https://hub.docker.com/_/postgres/?tab=tags
POSTGRES_IMAGE_TAG=
# Default: postgres
POSTGRES_CONTAINER_NAME=weathersched-postgres
# Default: postgres
POSTGRES_USER=
# Default: postgres
POSTGRES_PASSWORD=
# Default: named volume "postgres_data"
POSTGRES_DATA_DIR=./containers/vols/postgres/data
## Default: ./pgsql_scripts
POSTGRES_SCRIPTS_DIR=./containers/vols/postgres/pgsql_scripts
## Default: ./pg_entrypoint
POSTGRES_ENTRYPOINT_DIR=./containers/vols/postgres/pg_entrypoint
## Default: postgres
POSTGRES_DATABASE=
# Default: 5432
POSTGRES_PORT=
# Default: unset
# Read section on this variable in docker docs before setting:
#   https://hub.docker.com/_/postgres/
POSTGRES_HOST_AUTH_METHOD=

## Default: false
FASTAPI_DEBUG=
## Default: "auto-weather API"
FASTAPI_TITLE=
## Default: "API for the automated weather data app."
FASTAPI_SUMMARY=
## Default: ""
FASTAPI_DESCRIPTION=
## Default: "0.1.0"
FASTAPI_VERSION=

## Default: info
UVICORN_LOG_LEVEL=
## Default: false
UVICORN_RELOAD=
## Default: "0.0.0.0"
UVICORN_HOST=
## Default: 8000
UVICORN_PORT=
## Default: 8000
UVICORN_HOST_PORT=8001
